.error-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f3;
}

.error-content {
  display: flex;
}

.error-content > div {
  padding: 16px;
}

.error-infomation > h4 {
  font-size: 27px;
  font-weight: normal;
}

.error-infomation > p {
  font-size: 20px;
  margin-bottom: 30px;
}

.error-infomation > ul > li{
  margin-bottom: 20px;
}

.error-infomation > ul > li > a{
  color: #0a95ff;
}
